.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.mealsIsLoading {
  max-width: 40rem;
  width: 90%;
  margin: 1.5rem auto;
  color: #530101;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
