.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #72a542;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
  font-size: 1rem;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #0e3013;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .price {
    font-size: 1.25rem;
  }

  .meal h3 {
    margin: 0 0 0.25rem 0;
  }

  .description {
    font-size: 1.1rem;
  }
}
