.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #72a542;
  border: 1px solid #72a542;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #289944;
  border-color: #289944;
  color: white;
}
